*{
    box-sizing: border-box;   /*padding i borders elemenata ce biti ukljuceni u total size, ako ga nema input nece biti lepo centriran*/
    margin: 0;
}

.main-container{
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;         /*zadaje jednaku marginu za levo i desno*/
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.3);
    border-radius: 10px;
    margin-top: 40px;
}

#result{
   width: 100%;
   padding: 10px;
   font-size: 24px;
   border: none;
   box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.3) inset ;  /*inset premesta senku unutra*/
   border-radius: 5px;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);  /*ponovi svaku kolonu po 4 elementa*/
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ddd;
}

.clear{
    background-color: #ff4136;
    color: #fff;
}

.number, .decimal{
    background-color: #fff;
    color: #333;
}

.operator{
    background-color: #0074d9;
    color: #fff;
}

.equals{
    background-color: #01ff70;
    grid-row: span 3;   /*prosiri ga na 3 reda duzine*/
    color: #fff;
}